<%= form_with(model: notebook, local: true, :html => { :onsubmit => 'return validateForm()' }) do |form| %>

  <% if notebook.errors.any? %>
    <div id="error_explanation" class="container">
      <h2><%= pluralize(notebook.errors.count, "error") %> <%= t('notebooks.validation_error') %></h2>

      <ul>
      <% notebook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true, :id => 'title', :class => 'form-control', :maxlength => 255 %>
    <div class="invalid-feedback" id="title-error"></div>
  </div>

  <div class="form-group">
    <%= form.label :subtitle %> <small><%= t('contacts.optional_form') %></small>
    <%= form.text_field :subtitle, autofocus: true, :class => 'form-control', :maxlength => 255 %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, autofocus: true, :id => 'content', :class => 'form-control', :rows => 5 %>
    <div class="invalid-feedback" id="content-error"></div>
  </div>

  <br/>

  <div class="form-group">
    <%= form.submit "#{action} notebook", :id => 'submit', :class => 'btn btn-primary', :role => "button" %>
  </div>
<% end %>
