<%= form_with(model: notebook, local: true) do |f| %>
  <% if notebook.errors.any? %>
    <div id="error_explanation" class="container">
      <h2><%= pluralize(notebook.errors.count, "error") %> prohibited this notebook from being saved:</h2>

      <ul>
      <% notebook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, :class => 'form-control', :maxlength => 255 %>
  </div>

  <div class="form-group">
    <%= f.label :subtitle %> <small>(optional)</small>
    <%= f.text_field :subtitle, autofocus: true, :class => 'form-control', :maxlength => 255 %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, autofocus: true, :class => 'form-control', :rows => 5 %>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit "#{action} notebook", :class => 'btn btn-primary'%>
  </div>
<% end %>
