<section class="col-xm-12 col-sm-9 col-md-12 col-lg-9 col-xl-6 mt-2 notebook-holder">
  <div class="container notebook rounded-img mb-3">
    <h2 class="text-center">
      <%= notebook.title %>
      <br/>
      <small class="font_italic secondary-text" style="font-size: 17pt; max-font-size: 5vp;"><%= notebook.subtitle %></small>
    </h2>
    <br/>
    <div class="container overflow-auto" style="background-color: lightblue; border-radius: 10px; height: 50%; max-height: 200px;">
      <%= notebook.description %>
    </div>
  </div>
  <div class="text-center">
    <%= link_to 'Edit notebook', edit_notebook_path(notebook), :class => "btn btn-primary"%>
    <%= link_to 'Delete notebook', notebook, method: :delete, data: { confirm: "Are you sure you want to delete Notebook '#{notebook.title}'?" }, :class => "btn btn-danger" %>
  </div>
</section>