<h1><%= t('notebooks.title') %></h1>
<p><%= t('notebooks.index_description') %></p>
<small><%= t('notebooks.use_quicknotes') %></small>
<%= link_to "QuickNotes", quick_notes_path, :class => "btn btn-secondary", :role => "button"%>
<hr/>
<% if @notebooks.exists? %>

  <h2><%= t('notebooks.my_notebooks_title') %></h2>
  <div class="row">
    <% @notebooks.each do |notebook| %>

      <%= render 'notebook', notebook: notebook %>
    <% end %>
  </div>
  <hr/>
  <p><%= t('notebooks.create_notebook') %></p>

<%else %>

  <p><%= t('notebooks.no_notebooks') %></p>
  <br/>

<%end %>
<%= link_to "#{t('notebooks.create_notebook_button')}", new_notebook_path, :class => 'btn btn-primary', :role => 'button' %>