<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notebook.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @notebook.subtitle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @notebook.description %>
</p>

<%= link_to 'Edit', edit_notebook_path(@notebook) %> |
<%= link_to 'Back', notebooks_path %>
