<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation" class="contianer">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
          <% puts note.errors.details[:title].inspect %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :notebook_id %>
    <%= form.collection_select :notebook_id, Notebook.joins(:user).where(:user => current_user), :id, :title, {} ,:class => 'custom-select' %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true, :class => 'form-control', :maxlength => 255 %>
  </div>

  <div class="form-group">
    <%= form.label :subtitle %> <small>(optional)</small>
    <%= form.text_field :subtitle, autofocus: true, :class => 'form-control', :maxlength => 255 %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, autofocus: true, :class => 'form-control', :rows => 7 %>
  </div>

  <div class="form-group">
    <%= form.submit "#{action} note", :class => 'btn btn-primary', :role => "button" %>
  </div>
<% end %>
