<h1><%= t('notes.title') %></h1>
<p><%= t('notes.index_description') %></p>
<small><%= t('notes.use_quicknotes') %></small>
<%= link_to "QuickNotes", quick_notes_path, :class => "btn btn-secondary", :role => "button"%>
<hr/>
<% if current_user.notes.exists? %>

  <h2><%= t('notes.my_notes_title') %></h2>

    <% @notebooks.all.each do |notebook| %>

      <h3 class="text-center">
        <%= notebook.title %>
      </h3>
      <br/>

        <% if notebook.notes.exists? %>
          <div class="row">
          <% notebook.notes.each do |note| %>

            <%= render 'note', note: note %>

          <% end %>
          </div>
        <% else %>
          <div class="container">
            <p><%= t('notes.empty_notebook') %></p>
          </div>
        <% end %>

      <hr/>
    <% end %>
  <p><%= t('notes.create_note') %></p>

<% else %>

  <p><%= t('notes.no_notes') %></p>

<% end %>

<%= link_to "#{t('notes.create_note_button')}", new_note_path, :class => 'btn btn-primary', :role => 'button' %>
