<h1><%= t('notes.new_note') %></h1>

<% if Notebook.all.exists? %>

  <%= render 'form', note: @note, action: 'Create' %>

<% else %>

  <p><%= t('notes.no_notebook') %></p>

  <%= link_to 'Create notebook', new_notebook_path, :class => 'btn btn-primary', :role => "button" %>
  <%= link_to 'Create Quicknote', new_quick_note_path, :class => 'btn btn-secondary', :role => "button" %>

<% end %>

<hr/>
<%= link_to 'Back', notes_path, :class => 'btn btn-secondary', :role => "button" %>
