<%= form_with(model: quick_note, local: true, :html => { :onsubmit => 'return validateForm()' }) do |form| %>
  <% if quick_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quick_note.errors.count, "error") %> <%= t('quicknotes.validation_error') %></h2>

      <ul>
      <% quick_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true, :class => 'form-control', :maxlength => 255 %>
    <div class="invalid-feedback" id="title-error"></div>
  </div>

  <div class="form-group">
    <%= form.label :subtitle %> <small><%= t('contacts.optional_form') %></small>
    <%= form.text_field :subtitle, autofocus: true, :class => 'form-control', :maxlength => 255 %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, autofocus: true, :class => 'form-control', :rows => 7 %>
    <div class="invalid-feedback" id="content-error"></div>
  </div>

  <div class="form-group">
    <%= form.submit "#{action} QuickNote", :class => 'btn btn-primary', :role => "button" %>
  </div>
<% end %>
