<p id="notice"><%= notice %></p>

<h1>Quick Notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quick_notes.each do |quick_note| %>
      <tr>
        <td><%= quick_note.title %></td>
        <td><%= quick_note.subtitle %></td>
        <td><%= quick_note.content %></td>
        <td><%= link_to 'Show', quick_note %></td>
        <td><%= link_to 'Edit', edit_quick_note_path(quick_note) %></td>
        <td><%= link_to 'Destroy', quick_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quick Note', new_quick_note_path %>
