<h1><%= t('quicknotes.title') %></h1>
<p><%= t('quicknotes.index_description') %></p>
<small><%= t('quicknotes.use_notes') %></small>
<%= link_to "Notes", notes_path, :class => "btn btn-secondary", :role => "button"%>
<hr/>
<% if @quick_notes.exists? %>

  <h2><%= t('quicknotes.my_quicknotes_title') %></h2>
  <div class="row">
    <% @quick_notes.each do |quick_note| %>

      <%= render 'quick_note', quick_note: quick_note %>
    <% end %>
  </div>
  <hr/>
  <p><%= t('quicknotes.create_quicknote') %></p>

<% else %>

  <p><%= t('quicknotes.no_quicknotes') %></p>

<% end %>

<%= link_to "#{t('quicknotes.create_quicknote_button')}", new_quick_note_path, :class => 'btn btn-primary', :role => 'button' %>
