<h1>Contacts</h1>
<section class="container">
  <%= form_for Mail.new, method: 'post' do |f|%>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, :class => 'form-control', :maxlength => 255 %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, autofocus: true, autocomplete: "email", :class => 'form-control', :maxlength => 255 %>
    </div>

    <div class="form-group">
      <%= f.label :telephone, 'Phone Number' %>
      <small>(optional)</small>
      <%= f.text_field :telephone, autofocus: true, :class => 'form-control', :maxlength => 255 %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <small>(optional)</small>
      <%= f.text_field :title, autofocus: true, :class => 'form-control', :maxlength => 255 %>
    </div>

    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :message, autofocus: true, :class => 'form-control', :rows => 5 %>
    </div>

    <br/>

    <div class="actions">
      <%= f.submit "Send message", :class => 'btn btn-primary'%>
    </div>
  <% end %>
</section>
